*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.full-screen{
  height: 100vh;
  background-color: #504B38;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.full-screen h2{
  color: #F8F3D9;
  font-size: 2.5rem;
}

.game{
  background-color: #B9B28A;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  color: #504B38;
}

.square {
  background: #F8F3D9;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  color: #504B38;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info ol{
  list-style: none;
}

.hist-btns{
  background: #F8F3D9;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #504B38;
  cursor: pointer;
}
